body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.full-week-diet {
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.full-week-diet h2 {
    text-align: center;
    margin-bottom: 20px;
}

.day {
    margin-bottom: 20px;
}

.day h3 {
    margin-top: 0;
}

.day ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.day ul li {
    background: #f4f4f4;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}